@font-face {
  font-family: 'Kavivanar-Regular';
  src: url('../fonts/Kavivanar/Kavivanar-Regular.eot');
  src: url('../fonts/Kavivanar/Kavivanar-Regular.woff2') format('woff2'),
  url('../fonts/Kavivanar/Kavivanar-Regular.woff') format('woff'),
  url('../fonts/Kavivanar/Kavivanar-Regular.ttf') format('truetype'),
  url('../fonts/Kavivanar/Kavivanar-Regular.svg#Kavivanar-Regular') format('svg'),
  url('../fonts/Kavivanar/Kavivanar-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/Open_Sans/bold/OpenSans-Bold.eot');
  src: url('../fonts/Open_Sans/bold/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/Open_Sans/bold/OpenSans-Bold.woff') format('woff'),
  url('../fonts/Open_Sans/bold/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/Open_Sans/bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
  url('../fonts/Open_Sans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/Open_Sans/light/OpenSans-Light.eot');
  src: url('../fonts/Open_Sans/light/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/Open_Sans/light/OpenSans-Light.woff') format('woff'),
  url('../fonts/Open_Sans/light/OpenSans-Light.ttf') format('truetype'),
  url('../fonts/Open_Sans/light/OpenSans-Light.svg#OpenSans-Light') format('svg'),
  url('../fonts/Open_Sans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/Open_Sans/regular/OpenSans-Regular.eot');
  src: url('../fonts/Open_Sans/regular/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/Open_Sans/regular/OpenSans-Regular.woff') format('woff'),
  url('../fonts/Open_Sans/regular/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/Open_Sans/regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
  url('../fonts/Open_Sans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg'),
  url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}