// BOOTSTRAP OVERRIDES
// ========  CUSTOM VARIABLES  ========== //
// COLORS
$color-blue:#314a5b;
$color-dark-blue:#263642;
$color-grey:#9aa0ab;
$color-red:#f0454c;

// HEIGHT AND DIMENSIONS
$small-spacer: 10px;
$medium-spacer: 15px;
$large-spacer: 20px;
$bigger-spacer: 30px;
$long-spacer: 60px;
//
// TYPOGRAPHY
$transition: all .5s ease;
//
// Smaller font
$size-small: 30px;
$size-medium: 40px;
$size-large: 60px;
$size-title-small: 35px;
$size-title-medium: 55px;
$size-title-large: 75px;

//Fonts
$font-open-sans-regular:"OpenSans-Regular",sans-serif;
$font-open-sans-bold:"OpenSans-Bold",sans-serif;
$font-open-sans-light:"OpenSans-Light",sans-serif;
$font-kavivivanar:"Kavivanar-Regular",sans-serif;
$font-roboto:"Roboto-Regular",sans-serif;

//Size
$margin-top-block:80px;
$margin-bottom-block:20px;


