.header{
  height: 1300px;
  background: url("../../img/header_bg.jpg") no-repeat center;
  background-size: cover;
  .navigation{
    .row{
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .mobile{
        @media only screen and (max-width: 992px) {
          width: 770px;
        }
        @media only screen and (max-width: 770px) {
          width: 500px;
        }
      }
      //@media only screen and (max-width: 770px) {
      //  display: flex;
      //  flex-direction: column;
      //}
      @media only screen and (max-width: 500px) {
        width: 320px;
      }
      .logo{
        height: 74px;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: $color-red;
        padding: 42px 13px 0px;
        text-align: center;
        @media only screen and (max-width: 992px) {
          display: flex;
          justify-content: center;
          width: 140px;
        }
        p{
          font-family: $font-open-sans-regular;
          color: white;
          font-size: 1.25rem;
          font-weight: bold;
          letter-spacing: 1px;
          span{
            color: $color-blue;
          }
        }
      }
      nav,ul{
        width: 100%;
        height: 100%;
        display: table-cell;
      }
      nav{
        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          li{
            a{
              font-family: $font-open-sans-bold;
              text-transform: uppercase;
              color: $color-dark-blue;
              font-size: .875rem;
              letter-spacing: .3px;
              @media only screen and (max-width: 770px) {
                font-size: .7rem;
                letter-spacing: .1px;
              }
              &.social{
                display: block;
                width: 20px;
                height: 20px;
                background-position: center;
                background-repeat: no-repeat;
                &.twitter{
                  background-image: url("../../img/Twitter.png");
                }
                &.facebook{
                  background-image: url("../../img/Facebook.png");
                }
              }
            }
          }
        }
      }
    }
  }
  .header-block{
    margin-top: 40vh;
    .row{
      @media only screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
        width: 770px;
      }
    }
    @media only screen and (max-width: 992px) {
      display: flex;
      justify-content: center;
      margin-top: 10vh;
    }
    h1{
      @include title(3rem);
      line-height: 55px;
      @media only screen and (max-width: 770px) {
        line-height: 40px;
        font-size: 1.5rem;
      }
    }
    p{
      @include text(1.25rem,40px,$color-blue);
      margin: 20px 0;
    }
    a{
      font-family: $font-open-sans-bold;
      width: 171px;
      height: 64px;
      background: $color-red;
      color: white;
      font-size: .93rem;
      text-transform: uppercase;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}