#our-team{
  .container{
    @media only screen and (max-width: 770px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .row{
      @media only screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
      }
      @media only screen and (max-width: 500px) {
        width: 320px;
      }
      .our-item{
        @media only screen and (max-width: 770px) {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        display: flex;
        flex-direction: column;
        height: 100%;
        .title{
          @include title(1.625rem);
          margin-bottom: 16px;
        }
        .text{
          @include text(0.9375rem,22px,$color-grey)
          margin-bottom: 39px;
        }
      }
    }
    .our-itm{
      display: flex;
      margin: 0 0 55px 0;
      @media only screen and (max-width: 770px) {
        width: 500px;
        justify-content: center;
      }
      @media only screen and (max-width: 500px) {
        width: 320px;
      }
      .our-text{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 19px 0 0 21px;
        .ourred{
          font-family: ﻿OpenSans-Regular;
          font-size: 14pt;
          color: rgba(240, 69, 76, 255);
          text-align: left;
        }
        .title{
          @include title(1.2rem);
          margin-bottom: 11px;
        }
        .text{
          @include text(0.9375rem,14px,$color-grey)
          margin-bottom: 14px;
        }
      }
    }
    .more{
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;
      @media only screen and (max-width: 770px) {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }
  }
}