#snippets{
  .container{
    .row{
      .snippets-item{
        display: flex;
        flex-direction: column;
        height: 100%;
        .title{
          @include title(1.625rem);
          margin-bottom: 22px;
        }
        .text{
          @include text(0.9375rem,22px,$color-grey)
          margin-bottom: 30px;
        }
        .more{
          position: absolute;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
}