#snippets{
  .container{
    @media only screen and (max-width: 770px) {
      display: flex;
      justify-content: center;
    }
    .row{
      @media only screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
      }
      .snippets-item{
        display: flex;
        flex-direction: column;
        height: 100%;
        @media only screen and (max-width: 770px) {
          display: flex;
          justify-content: center;
          width: 500px;
        }
        @media only screen and (max-width: 500px) {
          width: 320px;
        }
        .title{
          @include title(1.625rem);
          margin-bottom: 22px;
        }
        .text{
          @include text(0.9375rem,22px,$color-grey)
          margin-bottom: 30px;
        }
        .more{
          position: absolute;
          bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
}